@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); /*Importando uma fonte.*/

/* Corpo do Programa*/
body{
    margin: 0; /*É o espaçamento da parte de fora do elemento ///// No corpo não vai existir margem pois está em 0.*/
    font-family: Noto Sans,sans-serif; /*Está usando o Noto sans, mas também está o usando outra fonte*/
}

/* Está dentro da tag nav e a ul é uma tag de lista não ordenada*/
ul{
    display: flex;
}
/* Está dentro da ul e ela serve para listar, ou seja, colocar em tópicos*/
li{
    margin: 10px;
    list-style: none;/*Está deixando sem decoração na lista*/
    display: inline-block;
    padding: 0px 20px;
}

.btn-login > a{
    transition: all 0.3s ease 0s;
    text-decoration: none;/*Está deixando sem decoração no texto*/
    color: white;/*Está colorindo a letra*/
}

/* Está dentro da li e ela serve como uma espécie de âncora você colocar o nome e o endereçamento que quiser*/
.home-pointer{
    transition: all 0.3s ease 0s;
    text-decoration: none;/*Está deixando sem decoração no texto*/
    color: black;/*Está colorindo a letra*/
}

.home-pointer:hover{
    color: #2BD2FF;/*Está colorindo a letra*/
}

.home-pointer{
    cursor: pointer;
}

/* Criei uma class para a parte do header*/
.menu-header{
    display: flex; /*defina a maneira como determinado elemento HTML deve ser renderizado, o flex serve para organizar o header, A flexpropriedade é uma propriedade abreviada*/
    justify-content: flex-end;/*A justify-contentpropriedade alinha os itens do container flexível quando os itens não utilizam todo o espaço disponível no eixo principal (horizontal).*/
    align-items: center;
    padding: 10px 10%;
}

.logo-menu{
    margin-right: auto;
}

.btn-log{
    padding: 0px 20px;
}

.btn-login{
    width: 100%;
    background: #0093E9;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 7px;
    width: 70px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0093E9;
    transition: all 0.3s ease 0s;
}

.btn-login:hover{
    background: #2BD2FF;
    box-shadow: 0px 10px 40px -12px #2BD2FF;
}

.screen-text{
    padding: 50px;
    margin-top: 30px;
}

.text {
    text-align: center;
}

.text > h1{
    font-size: 60px;
}

.text > h5{
    font-size: 15px;
}

.btns{
    padding: 30px;
    margin-top: 10px;
}

.btn-dados{
    padding: 20px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #2BD2FF;
    width: 100%;
    width: 300px;
    box-shadow: 0px 10px 40px -12px #2BD2FF;
}

.btn-dados > a{
    color: white;
    text-decoration: none;
}

@keyframes anima{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(1.05);
    }
}

.btn-dados:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-load{
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-nuvem{
    position: absolute;
    top: 200px;
    height: 100px;
    width: 100px;
    color: #0093E9;
}

.dots {
    list-style: none;
    display: flex;
}

.dots div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #0093E9;
    --webkit-animation: bounce 1s infinite alternate;
    --moz-animation: bounce 1s infinite alternate;
    --o-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-moz-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-o-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

.dots div:nth-child(2) {
    animation-delay: 300ms;
}

.dots div:nth-child(3) {
    animation-delay: .6s;
}

.img-nuvem:nth-child(2) {
    animation-delay: 300ms;
}

.img-nuvem:nth-child(3) {
    animation-delay: .6s;
}*/